.welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 47px;
    font-size: 18px;
    font-weight: bold;
    background: #422d61;
    border-radius: 3px;
    margin: 35px 120px;
    margin-top: 200px;
}

  .movies {
    display: flex;
    justify-content: center;
    column-gap: 51px;
    padding: 2rem 7rem 0rem;
    margin: 8px 112px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .title-1{
    display: flex;
    flex-direction: row;
    margin-left: 123px;
    margin-top: 20px;
    font-size: larger;
    font-weight: bolder;
    color: white;
  }

.all-movies{
  margin-top: 20px;
}

